
body {
	background: url(../images/overview-hero.jpg);
    background-color:#0c1e2e;
    height: 532px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

}
html, body {
    height: 100%;
}
.ngGrid {
    background-color: transparent;
}
#mainAppDiv {
    height: 100%;
    width: 100%;
}

.header-container {
    background-color: #FFFFFF;
}
.header {
    height: 80px;
    display: table;
    margin: 0 auto 62px;
}
@media (min-width: 768px) {
    .header, .submenu-wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .header, .submenu-wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .header, .submenu-wrapper {
        width: 1170px;
    }
}
.header-title {
    /*background: transparent url(../images/ravello-logo-small.png) no-repeat center left scroll;*/
    background: transparent url(../images/logo_2x.png) no-repeat center left scroll;
    background-size: 230px 25px;
    padding-left: 245px;
    font-family: "proxima-nova",sans-serif!important;
    font-weight: 300!important;
    letter-spacing: .3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	margin: 6px 0 26px 0;
    display: table-cell;
    vertical-align: middle;
	color:#797b7b!important;
    font-size: 22px!important;
    width: 28%;
}
.header-filler {
    display: table-cell;
    width: 25%
}
.main-nav {
    float: left;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.main-nav li a {
    padding: 0 10px;
    color: white;
}
.main-nav li a:hover, .main-nav li a:hover {
    color: #FDFF9D;
    text-decoration: none;
}
.main-nav li a.active {
    color: #ffe403;
}
.submenu {
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #0898de;
    text-align: center;
    display: block;
    height: 42px;
    z-index: 1;
    top:75px;
    padding: 0;
}
.submenu-wrapper {
    margin: 0 auto;
    height: 42px;
}

.submenu-links {
    padding-left: 25%;
}
.submenu li {
    float: left;
    line-height: 42px;
    height: 42px;
    list-style: none;
}
.submenu li a {
    color: white;
}
a.dropdown {
    position: relative;
    display: block;
}
a.dropdown:after{
    content: "";
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom: 8px solid #0898de;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -11px;
}
.mock-disabled-input {
    border-color:#FFF;
    box-shadow: none;
    color: #9B9B9B;
}
.nav-tabs {
    margin-bottom: 25px;
}
.nav-tabs > li > a:hover {
    cursor: pointer !important;
}
.nav-tabs > li.active > a:hover {
    cursor: default !important;
}
.grid-table {
    margin: 25px 0;
}
.row {
    margin-left:auto ;
    margin-right:auto ;
}
.form-box {
    background: #F0F0F0;
    margin: 15px 0;
    border-radius: 3px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-box .form-group:last-child {
    margin-bottom: 0;
}
.form-box h3 {
    margin-top: 0;
    font-size: 20px;
}
.panel-body.form-box {
    border-top-left-radius: 0;
    border-top-right-radius:0 ;
    margin: 0;
}
h3.panel-title {
    font-size: 20px !important;
}
.panel-default > .panel-heading {
    background-image: url("../images/train-back.png");
    background-color:#26526e;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}    
#accordion {
    margin-bottom: 15px;
}
.accordionGroup {
    background-color: #000000;
}
#rav-default-check {
    margin-top: 10px;
}
.modal-content>div>h3:first-child {
    margin-top: 0;
}
.modal-content {
    padding: 1.7em;
}
.btns-ok-cancel {
    margin-top: 15px;
}
.spacer {
    margin-top: 35px;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.form-box, .panel-heading {
    padding: 15px;
}
.ravello-logo{
    background: transparent url(../images/ravello-logo-small.png) no-repeat center left scroll;
    padding-left:20px;
    background-size: contain;
}
.small-padding-no-bullet {
    list-style: none;
    padding-left: 20px;
}
hr {
    border-top: 1px solid #DDD;
}
.powered-by, .student-name {
    display: table-cell;
    vertical-align: middle;
    color:#797b7b!important;
    font-style: italic;
    font-size: 12px;
    width: 20%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.rav-default-user-lbl {
    padding-left: 0px;
    padding-right: 7px;
}

/* Growl style */

.growl {
    position: absolute;
    right: 0;
    float: none;
    width: 100%;
}
.growl-item {
    position: absolute;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    top: 0;
    z-index: 101;
    box-shadow: 0px 0px 6px #232323;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:1s linear all;
    -moz-transition:14s linear all;
    -o-transition:14s linear all;
    transition:1s linear all;
}

/* Password */

.password-control {
    height: 34px;
    position: relative;
}
.password-div {
    position: absolute;
    top: 20%
}

.block-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

div > span.block-title {
    margin-bottom: 10px;
    display: block;
}

.panel-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.page-title {
    margin-bottom: 10px;
    color:#ffffff!important;
}
h2 {
	margin-bottom: 10px;
    color:#ffffff!important;
}